<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <nav class ="main-nav">
        <%- include('partials/mainnav')%>
    </nav>
    <div class="container">

        <div class="side-bar">
            <%- include('partials/sidenav')%>
        </div>

        <div class="main"> 
            <h1>Dash Board</h1>
        </div>
    </div>
    
</body>

</html>
