<div class="logo"><i class="fas fa-file-signature"></i></div>

<div id='content'>
    <form class="search" action="POST">
        <input type="text" placeholder="search">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    <div class="social-media">
        <i class="fas fa-bell"></i>
    </div>
    <div class="profile">
        <img src="/images/profile.jpg" alt="image">
    </div>
</div>
