<div class="nav-container">
    <nav>
        <ul>
            <li><a href="/events"><i class="fas fa-calendar-alt""></i> Events</a></li>
            <li><a href="/volunteer"><i class="fas fa-user"></i> Users</a></li>
            <li><a href="/plan"> <i class="fas fa-tasks"></i> Plan</a></li>
            <li><a href="/userEvents"><i class="fas fa-handshake-angle"></i>Validate</a></li>
            <li><a href="/attendance"><i class="fas fa-check"></i>Attendance</a></li>
            <li><a href="/reportchart"><i class="fas fa-file"></i>Report</a></li>
        </ul>
    </nav>
</div>
